@page "/ExcelFileUpload"
@using System.Data
@using System.IO
@using System.Text
@using ClosedXML
@using BlazorServer2.Data


<h3>File Upload & Read of Excel worksheet</h3>

<InputFile OnChange="LoadFiles" multiple />
<br />

<span>@errorMessage</span>

@if (isLoading)
{
    <p>Loading...</p>
    <br />
}

@foreach (var file in loadedFiles)
{
    <p id="file-@(file.FileName)">
        <strong>Name:</strong> <span id="file-name">@(file.FileName)</span><br />
        <strong>Last modified:</strong> <span id="file-last-modified">@(file.LastModified.ToString())</span><br />
        <strong>Size (bytes):</strong> <span id="file-size">@(file.Size)</span><br />
        <strong>Content type:</strong> <span id="file-content-type">@(file.ContentType)</span><br />
    </p>
}


@code {
    List<UploadFile> loadedFiles = new List<UploadFile>();
    bool isLoading;
    string errorMessage;

    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();
        errorMessage = string.Empty;

        try
        {
            var tempPath = Path.GetTempPath();

            foreach (var file in e.GetMultipleFiles(3))
            {
                StateHasChanged();

                // Webサーバの App_DataフォルダにExcelファイルを保存。
                var buffers = new byte[file.Size];
                await file.OpenReadStream().ReadAsync(buffers);

                var uploadFile = new UploadFile()
                {
                    FileName = file.Name,
                    ContentType = file.ContentType,
                    Size = file.Size,
                    LastModified = file.LastModified,
                    Content = buffers
                };

                loadedFiles.Add(uploadFile);

                // Webサーバの App_DataフォルダにExcelファイルを保存。
                using (var fs = new FileStream(WeatherForecastService.TempDir + "\\" + file.Name, FileMode.Create))
                using (var sw = new BinaryWriter(fs))
                {
                    sw.Write(buffers);
                }


                // Excelファイル読込み。
                using (var workbook = new ClosedXML.Excel.XLWorkbook(WeatherForecastService.TempDir + "\\" + file.Name))
                {
                    foreach (var worksheet in workbook.Worksheets)
                    {
                        // Excelファイルのシート名、セルの値取得まで。
                        var worksheetName = worksheet.Name;

                        var worksheetCellValue = worksheet.Cell("B2").Value;

                    }

                    //var worksheet2 = workbook.Worksheet(1);
                }

            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    public class UploadFile
    {
        public string FileName { get; set; }
        public byte[] Content { get; set; }
        public DateTimeOffset LastModified { get; set; }
        public string ContentType { get; set; }
        public long Size { get; set; }
    }
}

